.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Blog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Blog li {
  display: inline-block;
  margin: 20px 0px;
}

.Blog a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

.Blog a:hover, a:active {
  color: white;
  background-color: black;
}
