.Post {
    width: 250px;
    padding: 16px;
    text-align: center;
    /* border: 1px solid #eee; */
    box-shadow: 0 0px 3px #777;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
    height: 100%;
    border: 1px solid #fff;
}

.Post:hover,
.Post:active {
    background-color: #78bcd6;
    border: 1px solid #eee;
}

.Author {
    margin: 16px 0;
    color: #777;
}
